.sign-in:hover {
    border-radius: 4px;
    transform: scale(1.1, 1.1);
}

.sign-up:hover {
    border-radius: 4px;
    transform: scale(1.1, 1.1);
}
.log-out:hover {
    border-radius: 4px;
    transform: scale(1.1, 1.1);
}

.link-white:hover {
    transform: scale(1.4, 1.4);
    background-color: rgba(0, 191, 255, 0.9);
}

.short-news:hover{
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.load-more:hover{
    border: 1px solid
}
.search-button:hover {
    border-radius: 4px;
    transform: scale(1.1, 1.1);
}
