
h1{
	color: green;
	opacity: 0.5;
	font-size: 65px;
	text-align: left;

}

hr{
	color: black;
}

h3{
	text-align: center;
}

.news{
	border-style: solid;
	overflow: auto;
	width: 70%;
	display: inline-block;
}

body{
	background-image: url('1.jpg');
	text-align: center;
}

.rightbuttons{
	text-align: right;
	color: purple;
	border-width: medium;
	padding: 15px; 
}

.rightbuttons input{
	color: purple;
	text-align: right;
	border-width: medium;
	padding: 15px; 
}

.topbar__link {
    word-spacing: normal;
    display: -moz-inline-box;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    margin: 0 -12px;
    padding: 0 12px;
    line-height: 39px;
}

.b-topbar {
    zoom: 1;
    position: relative;
    z-index: 11;
    line-height: 40px;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
    -webkit-transform: translate3d(0,0,0);
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.b-topbar .b-topbar-i {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    filter: none;
    background: 0 0;
}

.innerbuttons {
	text-align: right;
	color: purple;
	border-width: medium;
	padding: 15px; 

}

.innerbuttons input{
	text-align: right;
	color: purple;
	border-width: medium;
	padding: 15px; 

}

.leftbuttons {
	text-align: left;
	color: purple;
	border-width: medium;
	padding: 15px; 
}


.leftbuttons input{
	text-align: left;
	color: purple;
	border-width: medium;
	padding: 15px; 
}

.topbar {
	color: purple;
}

